* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* site logo */
.site-logo {
  margin-left: 49px;
  cursor: pointer;
}
/* styling the navbar and header  */
header {
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 10%);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 1px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.nav-ul {
  display: flex;
}
.navlinks, .mini-navlinks {
  list-style: none;
  margin: 20px;
  transition-duration: 0.5s;
}
.navlinks > a, .mini-navlinks > a {
  text-decoration: none;
  font-size: 17px;
  color: #2b65c2;
}

/* styling the cards  */
.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 84%;
  margin: auto;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
  margin: 25px;
}

.flex-item-right {
  /* background-color: dodgerblue; */
  padding: 10px;
  flex: 50%;
  margin: 25px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 0 0 12px 12px;
  cursor: pointer;
}
.card > img {
  border-radius: 3px 3px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  line-height: 25px;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* styling the slide show images */
.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  /* backface-visibility: hidden; */
  background-size: cover;
  background-position: center center;
  /* color: transparent; */
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}
.crossfade > figure:nth-child(1) {
  background-image: url(images/1.jpg);
}

.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url(images/2.jpg);
}

.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url(images/3.jpg);
}

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url(images/4.jpg);
}

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url(images/5.jpg);
}
@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* styling section 2 */
.description {
  /* background: rgb(43,101,194); */
  /* background: linear-gradient(90deg, rgba(43,101,194,1) 1%, rgba(80,149,228,1) 67%); */
  /* position: absolute; */
  /* width: 100%; */
  background-color: #bac6ce;
  padding: 44px;
}
.content {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  width: 70%;
  margin: auto;
  padding: 20px;
  text-align: center;
  line-height: 19px;
}
.heading {
  margin-bottom: 16px;
  font-size: 37px;
  color: #171f31;
}
.more-content {
  font-weight: 100;
  font-size: 19px;
  color: #222;
  line-height: 27px;
}

/* styling the grid photos */
.portfolio {
  text-align: center;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  width: 80%;
  margin: auto;
}

/* Create four equal columns that sits next to each other */
.grid-photos {
  margin-top: 48px;
}
.portfolio-content {
  text-align: center;
  width: 80%;
  margin: 0 auto 26px auto;
}
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 2px;
  cursor: pointer;
}

.column img {
  margin-top: 4px;
  vertical-align: middle;
  width: 100%;
  transition: transform 0.35s;
}
.column img:hover {
  transform: scale(1.02);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* styling the dropdown section  */

.dropdown {
  background: orange;
  z-index: -1;
  transition: all 0.5s ease;
  display: none;
}
.absolute1{
  position: absolute;
  margin-left: 100px;
  margin-top: 40px;
  transform: translateY(-164%);
}

.absolute2 {
  position: absolute;
  margin-left: 26rem;
  margin-top: 61px;
}
.absolute3 {
  position: absolute;
  margin-left: 34rem;
  margin-top: 61px;
}
.droper:hover + .dropdown {
  transform: translateY(0%);
}
.mini-navlinks > a{
  font-size: 16px;
}
.mini-navlinks {
  clear: both;
  width: 100%;
}


/* styling the footer  */
.footer {
  height: 400px;
  background-color: grey;
  margin-top: 20px;
}
